In [401]:
import numpy as np
import pandas as pd
#creating array from list
arr=[0,1,2,3,4]
s1=pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [402]:
#using randomness for values
n=np.random.randn(5) #random Ndarray
index=['a','b','c','d','e']
s2=pd.Series(n,index=index)
s2

a   -1.051713
b   -0.853157
c    1.800909
d   -0.335703
e    1.538104
dtype: float64

In [403]:
#using dictionary
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [404]:
#modifying the index of series
print(s1)
s1.index=['A','B','C','D','E']
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [405]:
#slicing
a=s1[2:5]
print(a)

C    2
D    3
E    4
dtype: int64

In [406]:
#appending
print(s1)
print(s3)
combined=pd.concat([s1,s3])
print("\nConcatenated: ")
combined

A    0
B    1
C    2
D    3
E    4
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

Concatenated:

A    0
B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [407]:
#removing 
combined.drop('A')

B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
e    5
dtype: int64

<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: sans-serif;
    }
    h1 {
      color: pink;
      text-align: center;
    }
    li,p{
      color: pink;
    }
  </style>
  <title>SERIES OPERATIONS</title>
</head>
<body>
  <h1>SERIES OPERATIONS</h1>
  <p>Basic operations on series:<p>
  <ol>
  <li>List to series

In [408]:
arr1=[0,1,2,3,4,5,7]
arr2=[6,7,2,5,7]
s5=pd.Series(arr2)
s5

0    6
1    7
2    2
3    5
4    7
dtype: int64

<font color=pink>Another list s6</font>

In [409]:
s6=pd.Series(arr1)
s6

0    0
1    1
2    2
3    3
4    4
5    5
6    7
dtype: int64

In [413]:
s5.add(s6)

0     6.0
1     8.0
2     4.0
3     8.0
4    11.0
5     NaN
6     NaN
dtype: float64